/* screen - index */

.index {
  background-color: #ffffff;
  height: 1920px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1080px;
}

.index .in-bg-IO3Fu5 {
  background-color: #fafafa;
  border-radius: 83px;
  height: 1700px;
  left: 65px;
  position: absolute;
  top: 110px;
  width: 950px;
}

.index .instagram-IO3Fu5 {
  background-color: transparent;
  height: 130px;
  left: 144px;
  position: absolute;
  top: 819px;
  width: 792px;
}

.index .rectangle-2-iQuqSJ {
  background-color: #ffe4cd;
  border-radius: 78px;
  box-shadow: 0px 0px 15px #ff660040;
  height: 130px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 792px;
}

.index .instagram-iQuqSJ {
  background-color: transparent;
  color: #5d2809;
  font-family: var(--font-family-segoeui-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 301px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 46px;
  white-space: nowrap;
  width: auto;
}

.index .icon-awesome-instagram-iQuqSJ {
  background-color: transparent;
  height: 60px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  width: 60px;
}

.index .facebook-IO3Fu5 {
  background-color: transparent;
  height: 130px;
  left: 144px;
  position: absolute;
  top: 1049px;
  width: 792px;
}

.index .rectangle-2-6pvJWz {
  background-color: #cdd1ff;
  border-radius: 78px;
  box-shadow: 0px 0px 15px #0077ff40;
  height: 130px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 792px;
}

.index .facebook-6pvJWz {
  background-color: transparent;
  color: #1a095d;
  font-family: var(--font-family-segoeui-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 307px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 46px;
  white-space: nowrap;
  width: auto;
}

.index .icon-simple-facebook-6pvJWz {
  background-color: transparent;
  height: 60px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  width: 60px;
}

.index .tiktok-IO3Fu5 {
  background-color: transparent;
  height: 130px;
  left: 144px;
  position: absolute;
  top: 1279px;
  width: 792px;
}

.index .rectangle-2-F8tfwu {
  background-color: #d6d6d6;
  border-radius: 78px;
  box-shadow: 0px 0px 15px #00000040;
  height: 130px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 792px;
}

.index .tiktok-F8tfwu {
  background-color: transparent;
  color: #000000;
  font-family: var(--font-family-segoeui-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 336px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 46px;
  white-space: nowrap;
  width: auto;
}

.index .icon-simple-tiktok-F8tfwu {
  background-color: transparent;
  height: 60px;
  left: 39px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  width: 52px;
}

.index .spotify-IO3Fu5 {
  background-color: transparent;
  height: 130px;
  left: 144px;
  position: absolute;
  top: 1509px;
  width: 792px;
}

.index .rectangle-2-BEbkBW {
  background-color: #cdffd7;
  border-radius: 78px;
  box-shadow: 0px 0px 15px #00ffc440;
  height: 130px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 792px;
}

.index .spotify-BEbkBW {
  background-color: transparent;
  color: #095d4f;
  font-family: var(--font-family-segoeui-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 328px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 46px;
  white-space: nowrap;
  width: auto;
}

.index .icon-awesome-spotify-BEbkBW {
  background-color: transparent;
  height: 60px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 36px;
  width: 60px;
}

.index .photo-IO3Fu5 {
  background-color: transparent;
  display: block;
  height: 340px;
  left: 370px;
  opacity: 0;
  position: absolute;
  top: 282px;
  transform: scale(1.1);
  width: 340px;
}

.index .photo-IO3Fu5.animate-enter {
  animation: animate-enter-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(1.1);
}

@keyframes animate-enter-frames {
  from{opacity: 0;
transform: scale(1.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.index .pic-x0zL9D {
  background: linear-gradient(180deg, #ee00ff 0%, #a800ff 52.55%, #8000ff 64.27%, #7700ff 100%);
  background-color: transparent;
  border-radius: 170px;
  box-shadow: 0px 0px 10px #2c00ff14;
  height: 340px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 340px;
}

.index .pic-oDnD5Q {
  background-color: transparent;
  border-radius: 162.5px;
  height: 325px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 325px;
}

.index .my-booma-IO3Fu5 {
  background-color: transparent;
  color: #000000;
  display: block;
  font-family: var(--font-family-segoeui-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 413px;
  letter-spacing: 0.00px;
  line-height: 50px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 666px;
  transform: scale(0.9);
  white-space: nowrap;
  width: auto;
}

.index .my-booma-IO3Fu5.animate-enter1 {
  animation: animate-enter1-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(0.9);
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
transform: scale(0.9);
}
to{opacity: 1;
transform: scale(1);
}
}
